body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem 0;
}

.search {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 90%;
  height: 3rem;
  font-size: 2.5rem;
  text-align: center;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
