.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
}

.movies {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movieThumb {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 200px;
  margin: 2.5px;
}

.movieThumb:hover {
  width: 188px;
  padding: 10px;
  border: 1px solid white;
}
