.container {
  overflow-y: scroll;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0,0,0,0.98);
}

.poster {
  height: 40vh;
  margin-top: 3rem;
}

.details {
  width: 90%;
  padding: 3rem;
  text-align: center;
  color: white;
}

.link {
  margin-top: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.75rem;
}

.button {
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-style: none;
  margin-top: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.75rem;
}


.loading {
  margin-top: 3rem;
  font-size: 2rem;
  color: white;
}

@media screen and (min-width: 700px) {
  .container {
    flex-flow: row;
  }
  .poster {
    width: auto;
    height: 60vh;
    margin-top: 3rem;
  }
  .details {
    width: 50%;
    text-align: left;
  }
}
