.container {
  overflow-y: scroll;
  height: 100vh;
  width: calc(100vw - 6rem);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3rem 3rem 0 3rem;
  background-color: rgba(0,0,0,0.98);
  color: white;
}

.title {
  text-align: center;
}

.movies {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movieThumb {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 120px;
}

.movieThumb:hover {
  width: 108px;
  padding: 10px;
  border: 1px solid white;
}

.link {
  margin-top: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.75rem;
}

.button {
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-style: none;
  margin-top: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.75rem;
  cursor: pointer;
}